* {
  box-sizing: border-box;
}

form {
  font-family: 1em sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input {
  padding: 5px;
  margin: 5px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
